
# MG - aliases
alias scip="/usr/local/bin/scip"
alias fscip="/mnt/c/Users/Martin/documents/mg/dev/study/optimisation/scip/buildversion/scipoptsuite-7.0.1/ug/bin/fscip"
alias scipdir="cd /mnt/c/Users/Martin/documents/mg/dev/study/optimisation/scip/buildversion/scipoptsuite-7.0.1"
alias sciplng="cd /mnt/c/Users/Martin/documents/mg/dev/study/optimisation/scip/lng"
alias ll="ls -al"
alias study="cd ~/usr/src/study"
alias cpp="cd ~/usr/src/cpp"
alias include="cd /usr/include/x86_64-linux-gnu"
alias vimconfig="vim ~/usr/src/local.config/vim.local.config"
alias bashconfig="vim ~/usr/src/local.config/bash.local.config"
alias vimconfig.global="vim ~/.vimrc"
alias bashconfig.global="vim ~/.bashrc"
alias bashconfig.global.run="source ~/.bashrc"
alias src="cd ~/usr/src"
alias dev="cd ~/usr/dev"

newdir()
{
  echo "Making directory '$1' and switching it..."
  mkdir "$1" && cd $_
}

makeexec()
{
  echo "Making '$1' executable to be run with './$1'..."
  chmod +x "$1"
}
