" Global vim settings
" Author: Martin Gay

" override python PEP8 style insistence on 8 space tabstop
let g:python_recommended_style=0
filetype plugin indent on
syntax on

" set tabs
set expandtab		" enter spaces when tab is pressed
set textwidth=120	" break lines when line length increases
set tabstop=2		" use 2 spaces to represent tab
set softtabstop=2
set shiftwidth=2	" number of spaces to use for auto indent
set autoindent		" copy indent from current line when starting a new line

" set default colors
colorscheme slate
syntax on

" set line numbers on by default
set ruler
set number
set relativenumber
set showcmd

let @e = 'i<< "\n"'

